@charset "UTF-8";
/* CSS Document */

.if {
	width: auto;
	height: 520px;
	margin: none;
	background-color: black;
}

.if img {
	width: 300px;
	float: left;
	margin-top: 130px;
}

p {
	color: white;
	float: left;
	margin-top: 250px;
	width: 195px;
	line-height:25px;

}

.online {
	float: left;
	margin-left:-250px;
	width: 600px;
	
}

.logo {
	width: auto;
	height: 150px;
}

.logo img {
	width: 200px;
	float:left;
	margin-top: 20px;
	margin-right: 60px;
}

h1 {
	color: #F05005;
	margin-left: none;

}

.text {
	float: left;
}

h5 {
	line-height: 25px;
}

h4 {
	width: 400px;
	line-height: 25px;
}

h3 {
	line-height: 10px;
}

h2 {
	margin:auto;
	text-align:center;
	color:#A09292;
}

hr {
	margin-top: -30px;
}